body{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat'
}

h1{
  font-size: 34px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  color: white;
}

div{
  object-fit: fill;
  overflow: hidden;
}

.container{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 350px 350px
  350px 350px 350px 350px 350px 350px 350px 100px;
}

.note{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  grid-column: 1 / -1;
  font-size: 24px;
  grid-row: 12 / span 1;
  grid-column: 1 / span 2;
}

.img-one{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_one.jpg");
  background-size: 100% 100%;
}

.img-two{
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_two.jpg");
  background-size: 100% 100%;
}

.img-three{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_three.jpg");
  background-size: 100% 100%;
}

.img-four{
  grid-row: 7 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_four.jpg");
  background-size: 100% 100%;
}

.img-five{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_five.jpg");
  background-size: 100% 100%;
}

.img-six{
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_six.jpg");
  background-size: 100% 100%;
}

.img-seven{
  grid-row: 10 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_seven.jpg");
  background-size: 100% 100%;
}

.img-eight{
  grid-row: 10 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_eight.jpg");
  background-size: 100% 100%;
}

.img-nine{
  grid-row: 9 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_nine.jpg");
  background-size: 100% 100%;
}

.img-ten{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_ten.jpg");
  background-size: 100% 100%;
}

.img-eleven{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background: url("../anni_pics/img_eleven.gif");
  background-size: 100% 100%;
}

.img-twelve{
  grid-row: 7 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_twelve.gif");
  background-size: 100% 100%;
}

.img-thirteen{
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
  background: url("../anni_pics/img_thirteen.gif");
  background-size: 100% 100%;
}

.img-fourteen{
  grid-row: 11 / span 1;
  grid-column: 1 / span 2;
  background: url("../anni_pics/img_fourteen.gif");
  background-size: 100% 100%;
}

.img-fifteen{
  grid-row: 8 / span 1;
  grid-column: 1 / span 2;
  background: url("../anni_pics/img_fifteen.gif");
  background-size: 100% 100%;
}

.img-sixteen{
  grid-row: 9 / span 1;
  grid-column: 1 / span 1;
  background: url("../anni_pics/img_sixteen.jpg");
  background-size: 100% 100%;
}

.img-seventeen{
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_seventeen.jpg");
  background-size: 100% 100%;
}

.img-eighteen{
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  background: url("../anni_pics/img_eighteen.jpg");
  background-size: 100% 100%;
}

@media screen and (min-width: 1000px){

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px
    350px 350px 350px 350px 350px 100px;
  }

  .img-one{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background: url("../anni_pics/img_one.jpg");
    background-size: 100% 100%;
  }

  .img-two{
    grid-row: 5 / span 2;
    grid-column: 1 / span 1;
    background: url("../anni_pics/img_two.jpg");
    background-size: 100% 100%;
  }

  .img-three{
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    background: url("../anni_pics/img_three.jpg");
    background-size: 100% 100%;
  }

  .img-four{
    grid-row: 5 / span 2;
    grid-column: 2 / span 1;
    background: url("../anni_pics/img_four.jpg");
    background-size: 100% 100%;
  }

  .img-five{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background: url("../anni_pics/img_five.jpg");
    background-size: 100% 100%;
  }

  .img-six{
    grid-row: 8 / span 1;
    grid-column: 2 / span 1;
    background: url("../anni_pics/img_six.jpg");
    background-size: 100% 100%;
  }

  .img-seven{
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
    background: url("../anni_pics/img_seven.jpg");
    background-size: 100% 100%;
  }

  .img-eight{
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
    background: url("../anni_pics/img_eight.jpg");
    background-size: 100% 100%;
  }

  .img-nine{
    grid-row: 6 / span 2;
    grid-column: 3 / span 2;
    background: url("../anni_pics/img_nine.jpg");
    background-size: 100% 100%;
  }

  .img-ten{
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    background: url("../anni_pics/img_ten.jpg");
    background-size: 100% 100%;
  }
  
  .img-eleven{
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    background: url("../anni_pics/img_eleven.gif");
    background-size: 100% 100%;
  }

  .img-twelve{
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
    background: url("../anni_pics/img_twelve.gif");
    background-size: 100% 100%;
  }

  .img-thirteen{
    grid-row: 7 / span 1;
    grid-column: 1 / span 2;
    background: url("../anni_pics/img_thirteen.gif");
    background-size: 100% 100%;
  }

  .img-fourteen{
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    background: url("../anni_pics/img_fourteen.gif");
    background-size: 100% 100%;
  }

  .img-fifteen{
    grid-row: 8 / span 1;
    grid-column: 3 / span 2;
    background: url("../anni_pics/img_fifteen.gif");
    background-size: 100% 100%;
  }

  .img-sixteen{
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
    background: url("../anni_pics/img_sixteen.jpg");
    background-size: 100% 100%;
  }

  .img-seventeen{
    grid-row: 2 / span 2;
    grid-column: 4 / span 1;
    background: url("../anni_pics/img_seventeen.jpg");
    background-size: 100% 100%;
  }

  .img-eighteen{
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
    background: url("../anni_pics/img_eighteen.jpg");
    background-size: 100% 100%;
  }

  .note{
    grid-row: 9 / span 1;
    grid-column: 1 / span 4;
  }

}